<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>

  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Ck101 Beauty</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#" style="text-decoration:none;" onclick="start('3581')">Taiwan</a></li>
          <li><a href="#" style="text-decoration:none;" onclick="start('3582')">Korea+Japan</a></li>
          <li><a href="#" style="text-decoration:none;" onclick="start('3583')">China+Hongkong</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <div id="containerImg"></div>

  <div class="fixed-action-btn" style="bottom: 45px; right: 30px;">
    <a class="btn-floating btn-large red" onclick="nextpage()">
      <i class="large material-icons">play_arrow</i>
    </a>
  </div>
  <script type="text/javascript">
    $(document).ready(function(){
      start('3581');
    });  
    var socket = io.connect();
    var pages;
    var nowUrl;
    /*var options = [
      {
        selector: '#containerImg',
        offset: 0,
        callback: function(){
          socket.emit('newpage',{});
        }
      }
    ]; 
    Materialize.scrollFire(options); 
    */
    function start(url) {
      pages = 1;
      nowUrl = url;
      document.getElementById("containerImg").innerHTML = '';
      socket.emit('newpage',{url : url, pages: pages});
    }

    function nextpage() {
      pages+=1;
      socket.emit('newpage',{url : nowUrl, pages: pages});
    }
    socket.on('putImg',function(data) {
      //if (data.src.length>0) {
        //var div = document.createElement('div');
        //div.className = 'carousel';
       // console.log(data.src.length);
        for (var i = 0; i < data.src.length; i++) {
          var a = document.createElement('a');
          a.href = data.url;
          a.target= '_blank';
          //a.className = 'carousel-item';
          var img = document.createElement('img');
          img.src = data.src[i];
          img.className = 'img-rounded';
          img.style = 'height:250px; width:auto;';
          a.appendChild(img);
          document.getElementById("containerImg").appendChild(a);
          //div.appendChild(a);
        }
        
        //$('.carousel').carousel();
     // }
    });
  </script>

</body>
</html>
