<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <div  id="containerImg">
  </div>
  
  <script type="text/javascript">  
    var socket = io.connect();  
    socket.on('putImg',function(data) {
      //if (data.src.length>0) {
        //var div = document.createElement('div');
        //div.className = 'carousel';
       // console.log(data.src.length);
        for (var i = 0; i < data.src.length; i++) {
          var a = document.createElement('a');
          a.href = data.url;
          //a.className = 'carousel-item';
          var img = document.createElement("img");
          img.src = data.src[i];
          img.className = "img-rounded";
          img.style = 'width:250';
          a.appendChild(img);
          document.getElementById("containerImg").appendChild(a);
          //div.appendChild(a);
        }
        
        //$('.carousel').carousel();
     // }
    });
  </script>

</body>
</html>
