<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <div id="containerImg">
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript">    
    var lastOne;
    var socket = io.connect();
    socket.on('a',function(data) {
      console.log(data);
      //socket.emit('b',"");
    });
    socket.on('c',function(data) {
      // body...
      var a = document.createElement("a");
      a.href = data.url;
      a.target="_blank"
      var elem = document.createElement("img");
      elem.src = data.src;
      elem.className = "img-rounded";
      elem.style="width:20vw;"
      a.appendChild(elem);
      document.getElementById("containerImg").appendChild(a);
    });
    socket.on('d',function(data) {
      lastOne = data;
    });
    $(window).scroll(function() {
     if($(window).scrollTop() + $(window).height() == $(document).height()) {
         console.log(lastOne);
        //socket.emit('b','&before='+lastOne);
     }
    });
  </script>

</body>
</html>
